server:
  port: 8090

spring:
  application:
    name: EurekaServer

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://eureka-server:8090/eureka/

  server:
    enable-self-preservation: false

  instance:
    hostname: eureka-server